// Place all the styles related to the Todo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import 'bootstrap';

svg {
  width: 16px;
  height: 16px;
}

button.icon-button {
  width: 27px;
  height: 27px;
  svg {
    vertical-align: bottom;
  }
}

input[type=checkbox] {
  cursor: pointer;
}

label, input, textarea {
  display: block;
}


.modal textarea {
  width: 100%;
  height: 20rem;
}